
@{
    ViewData["Title"] = "ForgotPassword";
}
<div class="mx-auto" style="width:40%;">
    <h4 class="mx-auto mt-5 mb-3">Forgot Password</h4>
   
    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
        <div class="form-group">
            <label for="Email">
                Email
            </label>
            <input type="email" name="email" class="form-control" required placeholder="Enter your email" />
        </div>
        <input type="submit" class="btn btn-primary" value="Send me reset instructions" />
    </form>
    </div>

