
@{
    ViewData["Title"] = "ResetPassword";
}
<div class="mx-auto" style="width:40%;">
    <h4 class="mx-auto mt-5 mb-3">Reset your Password</h4>
    
    <form method="post">
        <div class="form-group">
            <label for="Password">
                Password
            </label>
            <input type="password" name="password" class="form-control" required placeholder="Enter your new password" />
        </div>
        <input type="submit" class="btn btn-primary" value="Set this as your password" />
    </form>
    </div>
