body {
    background-color: #F2F2F2;
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
}

li a {
    font-family: 'Cantarell', sans-serif;
   
}

h1, h2, h3, h4, h5 {
    font-family: 'Neuton', serif;
}

.btn, .form-control{
    font-size: 1.2rem;
}

/*.caption {
    height:130px;
    overflow:hidden;
}

.caption{
    white-space: nowrap;
    
}
.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}*/